<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="fr">
<head>
    <script type="text/javascript">
        function clearSearch() {
            window.location = "[[@{/automobile/trier}]]";
        }
    </script>
    <meta charset="UTF-8">
    <title>Acceuil</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          rel="stylesheet">
</head>
<body>
<div align="center">
    <h1>Liste des voitures</h1>
    <a class="btn btn-primary btn-sm mb-3" th:href="@{/automobile/ajouterAutomobile}">Ajouter une voiture</a>
    <form th:action="@{/automobile/trier}">
        Filter par marque: <input type="text" name="marque" id="marque" size="50" th:value="${marque}" required />
        &nbsp;
        <input type="submit" value="Recherché" />
        &nbsp;
        <input type="button" value="Effacer" id="btnClear" onclick="clearSearch()" />
    </form>
    <br>
    <table align="center" border="1" class="table table-striped table-responsive-md"0
           style="width:80%">
        <thread >
            <tr align="center">
                <th>Année</th>
                <th>Marque</th>
                <th>Modéle</th>
                <th>Motopropulsion</th>
                <th>Transmission</th>
                <th>License</th>
                <th>Prix</th>
                <th>Action Possible</th>
            </tr>
        </thread>
        <tbody>
        <tr th:each="automobile : ${listAutomobiles}">
            <td th:text="${automobile.getAnnee()}"></td>
            <td th:text="${automobile.getMarque()}"></td>
            <td th:text="${automobile.getModel()}"></td>
            <td th:text="${automobile.getMotopropulsion()}"></td>
            <td th:text="${automobile.getTransmission()}"></td>
            <td th:text="${automobile.getLicence()}"></td>
            <td th:text="${automobile.getPrix()}"></td>
            <td align="center">
                <a class="btn btn-primary" th:href="@{/automobile/detailsAutomobile/{id}(id=${automobile.id})}">Details</a>
                <a class="btn btn-primary">Louer</a>
                <a class="btn btn-primary">Retourner</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>