<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="fr">
<head>
    <script type="text/javascript">
        function clearSearch() {
            window.location = "[[@{/automobile/}]]";
        }
    </script>
    <meta charset="UTF-8">
    <title>Acceuil</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          rel="stylesheet">

</head>
<body>
<div align="center">
    <h1>Liste des voitures</h1>
    <a class="btn btn-primary btn-sm mb-3" th:href="@{/automobile/ajouterAutomobile}">Ajouter une voiture</a>
    <a class="btn btn-primary btn-sm mb-3" th:href="@{/automobile/louees}">Voitures louées</a>
    <fieldset class="border w-50 rounded">
        <legend class="fs-6 fw-light">
            <a class="fs-6 fw-light" data-bs-toggle="collapse" href="#filters" role="button" aria-expanded="false"
               aria-controls="filters">toggle filters</a>
        </legend>
        <div class="collapse multi-collapse m-2" id="filters">
            <form th:action="@{/automobile/trier}" method="post">
                <!-- Buffers pour garder valeurs -->
                <input type="hidden" th:field="*{filtres.marque}"/>
                <input type="hidden" th:field="*{filtres.motopropulsion}"/>
                <input type="hidden" th:field="*{filtres.transmission}">
                <!-- FILTRE MARQUE -->
                Filter par marque:
                &nbsp;<select th:field="*{filtres.selectionMarque}">
                <option th:text="'---'" th:value="''"/>
                <option th:each="marque: ${filtres.marque}" th:text="${marque}" th:value="${marque}"/>
            </select><br>
                <!-- FILTRE MOTOPROPULSION-->
                Filtrer par motopropulsion:
                <select th:field="*{filtres.selectionMotopropulsion}">
                    <option th:text="'---'" th:value="''"/>
                    <option th:each="motopropulsion: ${filtres.motopropulsion}" th:text="${motopropulsion}"
                            th:value="${motopropulsion}"/>
                </select><br>
                <!-- FILTRE TRANSMISSION-->
                Filtrer par transmission
                <select th:field="*{filtres.selectionTransmission}">
                    <option th:text="'---'" th:value="''"/>
                    <option th:each="transmission: ${filtres.transmission}" th:text="${transmission}"
                            th:value="${transmission}"/>
                </select><br>
                <!-- FILTRE PRIX MAXIMUM -->
                Filtrer par prix mensuel maximum:
                <input type="number" th:field="*{filtres.selectionPrixMax}" th:value="${filtres.selectionPrixMax}"
                       min="0"
                       max="1500" step="1" placeholder="---">
                <br>
                <!-- SUBMIT -->
                <input type="submit" value="Rechercher"/>
                <input type="button" value="Effacer" id="btnClear" onclick="clearSearch()"/>
            </form>
        </div>
    </fieldset>
    <br>
    <table align="center" border="1" class="table table-striped table-responsive-md"
           style="width:80%">
        <thread>
            <tr align="center">
                <th>Année</th>
                <th>Marque</th>
                <th>Modéle</th>
                <th>Motopropulsion</th>
                <th>Transmission</th>
                <th>License</th>
                <th>Prix</th>
                <th>Action Possible</th>
            </tr>
        </thread>
        <tbody>
        <tr th:each="automobile : ${listAutomobiles}">
            <td th:text="${automobile.getAnnee()}"></td>
            <td th:text="${automobile.getMarque()}"></td>
            <td th:text="${automobile.getModel()}"></td>
            <td th:text="${automobile.getMotopropulsion()}"></td>
            <td th:text="${automobile.getTransmission()}"></td>
            <td th:text="${automobile.getLicence()}"></td>
            <td th:text="${automobile.getPrix()}"></td>
            <td align="center">
                <a class="btn btn-primary"
                   th:href="@{/automobile/detailsAutomobile/{id}(id=${automobile.id})}">Details</a>
                <a class="btn btn-primary" th:href="@{'/client/?autoId='+${automobile.id}}">Louer</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>