<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enregistrement d'une réservation</title>
</head>
<body>
    <h1>Nouvelle réservation</h1>
    <!-- Afficher client pour location -->
    <div>
        <h2>Informations du client</h2>
        <div>
            Prénom: <span th:text="${client.prenom}"></span><br>
            Nom: <span th:text="${client.nom}"></span><br>
            Courriel: <span th:text="${client.email}"></span>
        </div>
    </div>
    <!-- Afficher automobile pour location -->
    <div>
        <h2>Information de l'automobile</h2>
        <div>
            Id: <span th:text="${auto.id}"></span><br>
            Année: <span th:text="${auto.annee}"></span><br>
            Marque: <span th:text="${auto.marque}"></span><br>
            Modèle: <span th:text="${auto.model}"></span><br>
            License: <span th:text="${auto.licence}"></span><br>
            Prix/mois: <span th:text="${auto.prix}"></span>
        </div>
    </div>
    <!-- Sélection date prise de possession -->
    <h2>Sélectionner la date de prise de possession du véhicule.</h2>
    <form action="#" th:action="@{/reservation/confirm}" method="POST" th:object="${reservation}">
        <input type="hidden" th:field="*{automobileId}">
        <input type="hidden" th:field="*{client}">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{dateReservation}">
        <div>
            <input type="date" id="datePrisePossession" th:field="*{dateSortie}">
        </div>
        <!-- Confirmation -->
        <button class="btn btn-info col-2" onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"
                th:data-confirm-delete="|Voulez-vous sauvegarder cette réservation|"
                type="submit"> Confirmer
        </button>
    </form>
    <a class="btn btn-info col-2" th:href="@{/}" th:text="'Annuler'"></a>
</body>
    <script>
        function setDatePickerMinDate(){
            let today = new Date();
            let dd = today.getDate();
            let mm = today.getMonth() + 1; //January is 0!
            let yyyy = today.getFullYear();

            if (dd < 10) {
                dd = '0' + dd;
            }

            if (mm < 10) {
                mm = '0' + mm;
            }

            today = yyyy + '-' + mm + '-' + dd;
            document.getElementById("datePrisePossession").setAttribute("min", today)
        }
        setDatePickerMinDate()
    </script>
</html>
